<table>
  <tr>
    <td>Title</td>
    <td>Genre</td>
    <td>Year</td>
  </tr>
  <% @all_movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.genre %></td>
      <td><%= movie.year %></td>
    </tr>
  <% end %>

</table>