<h1> Gideon Movie</h1>

<table>
  <tr>
    <th></th>  Title  </th>
    <th></th>  Genre  </th>
    <th></th>  Year </th>
  </tr>
  <tr>
    <td><%= @movies.title %></td>
    <td><%= @movies.genre %></td>
    <td><%= @movies.year %></td>
  </tr>

</table>